@media (max-width: 730px) { 
    .cabecalho {
        flex-direction: column;
        margin-top: 50px;
        gap: 80px;
        font-size: 30px;
    }

    .logo h1 {
        font-size: 40px;
    }

    .menu {
        flex-direction: column;
        font-size: 40px;
        gap: 35px;
    }

    .menu li a:hover {
        padding: 13px 40px;
    }

    .btn {
        font-size: 18px;
        padding: 15px 23px;
    }
}
