@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

a {
    color:#000000;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 22px;
    margin-left: 5px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.3s ease-in-out;
}

.menu li a:hover {
    background-color: #5BC241;
    color: #ffffff;
    padding: 10px 5px;
}

.menu li a.btn {
    background-color: #5BC241;
    border-radius: 10px;
    padding: 13px 20px;
    color: #ffffff;
}